advantages Buhaichuk
<section class="advantages">
    <div class="container-sec4 container">
        <h2 class="head-word">Our Advantages</h2>
        <ol class="advantages-sector">
            <!--advantage 1-->
            <li class="advantages-part">
                <h3 class="advantages-number">01</h3>
                <hr class="line">
                <p class="advantages-word">Swimming and water sports: 
                    try your hand at water skiing</p>
                </li>
            <!--advantage 2-->
            <li class="advantages-part">
                <h3 class="advantages-number">02</h3>
                <hr class="line">
            <p class="advantages-word">Fishing: try to catch your own dinner</p>
            </li>
            <!--advantage 3-->
            <li class="advantages-part">
                <h3 class="advantages-number">03</h3>
                <hr class="line">
                <p class="advantages-word">Sightseeing tours: take a shore or island tour,
                enjoy the views and sunsets from the water</p>
                </li>
            <!--advantage 4-->
            <li class="advantages-part">
                <h3 class="advantages-number">04</h3>
                <hr class="line">
                <p class="advantages-word">Rest and relaxation: read a book or
                listen to music while enjoying the outdoor atmosphere.</p>
                </li>
        </ol>
        <picture>
            <source srcset="./img/interior-mob-1x.jpg  1x, 
            ./img/interior-desk1440-2x.jpg 2x" 
            media="(min-width: 320px)"/>

            <source srcset="./img/interior-mob-1x.jpg  1x, 
            ./img/interior-tablet-2x.jpg 2x" 
            media="(min-width: 320px)"/>

            <source srcset="./img/interior-desk1280-1x.jpg  1x, 
            ./img/interior-desk1280-2x.jpg 2x" 
            media="(min-width: 1280px)"/>

            <source srcset="./img/interior-desk1440-1x.jpg  1x, 
            ./img/interior-desk1440-2x.jpg 2x" 
            media="(min-width: 1440px)"/>
        </picture>
        <img src="./img/yaht-interior-advantage.jpg" alt="yaht-interior" class="sec4-photo" width="540"
            height="424">
    </div>