<!-- advantages Buhaichuk -->
<section class="advantages">
  <div class="container">
    <h1 class="head-word">Our Advantages</h1>
    <ol class="advantages-sector">
      <!--advantage 1-->
      <li class="advantages-part">
        <h2 class="advantages-number">01</h2>
        <p class="advantages-word">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <!--advantage 2-->
      <li class="advantages-part">
        <h2 class="advantages-number">02</h2>
        <p class="advantages-word">Fishing: try to catch your own dinner</p>
      </li>
      <!--advantage 3-->
      <li class="advantages-part">
        <h2 class="advantages-number">03</h2>
        <p class="advantages-word">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <!--advantage 4-->
      <li class="advantages-part">
        <h2 class="advantages-number">04</h2>
        <p class="advantages-word">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <img src="./img/yaht-interior-advantage.jpg" alt="yaht-interior"
    class="sec4-photo" width: 540px; height: 424px;>
  </div>
</section>