<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <p class="footer-logo-text">yachtjet</p>
      <ul class="footer-list">
        <li class="footer-link">
          <a class="footer-link-text" href="#About">About</a>
        </li>
        <li class="footer-link">
          <a class="footer-link-text" href="#Yacht">Yacht</a>
        </li>
        <li class="footer-link">
          <a class="footer-link-text" href="#Reviews">Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="footer-social-list">
        <li class="footer-social-link">
          <a href="https://www.instagram.com/goitclub/" target="_blank" class="footer-link-item">
            <svg class="social-footer" width="19" height="19">
              <use href="../img/sprite.svg#icon-ins-white"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-link">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" class="footer-link-item">
            <svg class="social-footer" width="20" height="20">
              <use href="../img/sprite.svg#icon-youtube-white"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-link">
          <a href="https://www.facebook.com/goITclub/" target="_blank" class="footer-link-item">
            <svg class="social-footer" width="20" height="20">
              <use href="../img/sprite.svg#icon-fb-white"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
    </p>
    <P class="footer-text-date">
      2023. Yacht Adventures<span class="footer-span">Privacy Police</span>
    </P>
  </div>
  </div>

</footer>