<!--section header-->
<header>
  <div class="header-container">
    <a href="" class="header-logo">yachtjet</a>
    <button type="button" class="header-btn-icon">
      <svg width="28" height="28" class="header-burger-icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <ul class="header-list-anchor-links">
      <li><a href="#about-us" class="header-anchor-link">About</a></li>
      <li><a href="#our-yachts" class="header-anchor-link">Yachts</a></li>
      <li><a href="#reviews" class="header-anchor-link">Reviews</a></li>
    </ul>
    <ul class="header-socials-list-links">
      <li class="header-socials-link-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="header-socials-link"
        >
          <svg width="24" height="24" class="header-socials-icon">
            <use href="./img/sprite.svg#icon-ins-black"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-link-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="header-socials-link"
        >
          <svg width="24" height="24" class="header-socials-icon">
            <use href="./img/sprite.svg#icon-youtube-black"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-link-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="header-socials-link"
        >
          <svg width="24" height="24" class="header-socials-icon">
            <use href="./img/sprite.svg#icon-fb-black"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
<!--Mobile menu-->
<!--hidden/open-->
<div class="mobile-menu-is-hidden">
  <div class="mobile-header-container">
    <a href="" class="header-logo">yachtjet</a>
    <button type="button" class="header-btn-icon">
      <svg width="28" height="28" class="mobile-header-icon">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-list-anchor-links">
    <li><a href="" class="mobile-anchor-link">About</a></li>
    <li><a href="" class="mobile-anchor-link">Yachts</a></li>
    <li><a href="" class="mobile-anchor-link">Reviews</a></li>
  </ul>
  <ul class="mobile-socials-list-links">
    <li class="mobile-socials-link-item">
      <a
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        class="mobile-socials-link"
      >
        <svg width="24" height="24" class="mobile-socials-icon">
          <use href="./img/sprite.svg#icon-ins-black"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-socials-link-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
        class="mobile-socials-link"
      >
        <svg width="24" height="24" class="mobile-socials-icon">
          <use href="./img/sprite.svg#icon-youtube-black"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-socials-link-item">
      <a
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        class="mobile-socials-link"
      >
        <svg width="24" height="24" class="mobile-socials-icon">
          <use href="./img/sprite.svg#icon-fb-black"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
