<header>
  <div class="header-container">
    <p class="header-logo">yachtjet</p>
    <button type="button" class="header-btn-icon">
      <svg width="24" height="10" class="header-icon">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <ul class="header-list-anchor-links">
      <li><a href="" class="header-anchor-link-first-child">About</a></li>
      <li><a href="" class="header-anchor-link">Yachts</a></li>
      <li><a href="" class="header-anchor-link">Reviews</a></li>
    </ul>
    <ul class="header-socials-list-links">
      <li class="header-socials-link-item">
        <a href="" class="header-socials-link">
          <svg width="24" height="24" class="header-socials-icon">
            <use href="./img/sprite.svg#icon-ins-black"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-link-item">
        <a href="" class="header-socials-link">
          <svg width="24" height="24" class="header-socials-icon">
            <use href="./img/sprite.svg#icon-youtube-black"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-link-item">
        <a href="" class="header-socials-link">
          <svg width="24" height="24" class="header-socials-icon">
            <use href="./img/sprite.svg#icon-fb-black"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
