<section class="yachts" id="our-yachts">
  <div class="container">
    <h2 class="yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yachts-list-item">
        <!-- <picture>
          <source
            srcset="
              ./img/yachts/admiral-1440-1x-min.jpg 1x,
              ./img/yachts/admiral-1440-2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/yachts/admiral-1280-1x-min.jpg 1x,
              ./img/yachts/admiral-1280-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/yachts/admiral-tab-1x-min.jpg 1x,
              ./img/yachts/admiral-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/yachts/admiral-mob-1x-min.jpg 1x,
              ./img/yachts/admiral-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          
        </picture> -->
        <img class="yachts-item-img" src="./img/yachts/admiral-1440-2x-min.jpg" alt="Our Yachts Admiral" />
        <div class="yachts-item-arrow">
          <ul class="yachts-arrow-list">
            <li class="item-arrow">Arrow</li>
            <li class="item-arrow-yachts">LUXURY YAHTS</li>
          </ul>
        </div>
        <div class="yachts-item-text">
          <ul class="yachts-item-spec">
            <li class="item-spec-text">LENGTH</li>
            <li class="item-spec-text">BUILDER</li>
            <li class="item-spec-text">BUILT</li>
            <li class="item-spec-text">GUESTS</li>
            <li class="item-spec-text">PRICE</li>
          </ul>
          <ul class="yachts-item-value">
            <li class="item-spec-text">48m(155ft)</li>
            <li class="item-spec-text">Admiral</li>
            <li class="item-spec-text">2021</li>
            <li class="item-spec-text">11 in 5 cabins</li>
            <li class="item-spec-text">€33,500,000</li>
          </ul>
        </div>
      </li>
      <li class="yachts-list-item item2">
        <img class="yachts-item-img" src="./img/yachts/benetti-1440-2x-min.jpg" alt="Our Yachts Benetti" />
        <div class="yachts-item-arrow">
          <ul class="yachts-arrow-list">
            <li class="item-arrow">BENETTI OASIS 40M BO122</li>
            <li class="item-arrow-yachts">LUXURY YAHTS</li>
          </ul>
        </div>
        <div class="yachts-item-text">
          <ul class="yachts-item-spec">
            <li class="item-spec-text">LENGTH</li>
            <li class="item-spec-text">BUILDER</li>
            <li class="item-spec-text">BUILT</li>
            <li class="item-spec-text">GUESTS</li>
            <li class="item-spec-text">PRICE</li>
          </ul>
          <ul class="yachts-item-value">
            <li class="item-spec-text">41m (133ft)</li>
            <li class="item-spec-text">Benetti</li>
            <li class="item-spec-text">2025</li>
            <li class="item-spec-text">10 in 5 cabins</li>
            <li class="item-spec-text">€23,210,000</li>
          </ul>
        </div>
      </li>
      <li class="yachts-list-item item3">
        <img class="yachts-item-img" src="./img/yachts/isa-1440-2x-min.jpg" alt="Our Yachts Isa" />
        <div class="yachts-item-arrow">
          <ul class="yachts-arrow-list">
            <li class="item-arrow">BELLE ANNA</li>
            <li class="item-arrow-yachts">LUXURY YAHTS</li>
          </ul>
        </div>
        <div class="yachts-item-text">
          <ul class="yachts-item-spec">
            <li class="item-spec-text">LENGTH</li>
            <li class="item-spec-text">BUILDER</li>
            <li class="item-spec-text">BUILT</li>
            <li class="item-spec-text">GUESTS</li>
            <li class="item-spec-text">PRICE</li>
          </ul>
          <ul class="yachts-item-value">
            <li class="item-spec-text">50m(155ft)</li>
            <li class="item-spec-text">ISA</li>
            <li class="item-spec-text">2012</li>
            <li class="item-spec-text">12 in 6 cabins</li>
            <li class="item-spec-text">€21,000,000</li>
          </ul>
        </div>
      </li>
    </ul>
    <button href="#rent" type="button" class="yachts-btn">Yacht rental</button>
  </div>
</section>