.about-us-section {
    margin-top: -59px;
    padding-bottom: 80px;
}

.about-us-container {
    background-color: #fbfbfb;
    border-radius: 24px 24px 0 0;
    padding-top: 40px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px
}

.about-us-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 40px;
}

.about-us-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
}

.about-us-text {
    line-height: 1.17;
    color: #040306;
    opacity: 0.4;
}

.about-us-img {
    width: 100%;
    border-radius: 0 0 24px 24px;
    
}

@media screen and (max-width: 375px) {
    .about-us-container {
        max-width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .about-us-section {
        margin-top: -67px;
        padding-bottom: 150px;
    }
    
    .about-us-container {
        max-width: 704px;
        padding-top: 50px;
        padding-bottom: 27px;
        padding-left: 32px;
        padding-right: 0;
    }

    .about-us-title {
        font-size: 48px;
        padding-right: 136px;
        margin-bottom: 50px;
    }

    .about-us-text-container {
        padding-right: 283px;
    }

    .about-us-subtitle {
        font-size: 23px;
    }

    .about-us-text {
        font-size: 13px;
        line-height: 1.15;
    }
}

@media screen and (min-width: 1280px) {
    .about-us-section {
        margin-top: -35px;
    }

    .about-us-container {
        max-width: 1180px;
        display: flex;
        flex-direction: row;
        gap: 189px;
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-us-title {
        width: 537px;
        padding-right: 0;
        margin-bottom: 0;
    }

    .about-us-text-container {
        width: 354px;
        padding-right: 0;
    }
}

@media screen and (min-width: 1440px) {
    .about-us-container {
        max-width: 1340px;
        gap: 299px;
        padding-bottom: 77px;
    }

    .about-us-text-container {
        width: 404px;
    }
}