/*MOBILE*/
.hero-section {
  max-width: 375px;
  height: 100%;
  padding: 260px 20px 302px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      360deg,
      #11131f 15.05%,
      rgba(17, 19, 31, 0.39) 75.3%,
      rgba(17, 19, 31, 0) 98.27%
    ),
    url(/img/hero-bg-mobile@1x.jpg);
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.hero-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.hero-text {
  max-width: 326px;
  margin-bottom: 14px;
  font-family: inherit;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16667;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}

.hero-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  cursor: pointer;
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  background: #1b414b;
  border: none;
}

.hero-button:hover {
  color: #1b414b;
  background-color: #fbfbfb;
}

.hero-button:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

@media screen and (min-width: 320px) and (max-width: 374.98px) {
  .hero-section {
    width: 100%;

    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-mobile@1x.jpg);
  }
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .hero-section {
    width: 100%;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-mobile@2x.jpg);
  }
}

/*TABLET*/
@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    height: 100%;
    padding: 280px 32px 282px 32px;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-tablet@1x.jpg);
  }

  .hero-title {
    font-size: 70px;
  }

  .hero-text {
    width: 591px;
    max-width: none;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.4;
  }

  .hero-button {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
  }

  .hero-button:hover {
    color: #1b414b;
    background: #fbfbfb;
  }

  .hero-button:focus {
    color: #1b414b;
    background-color: #fbfbfb;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    width: 100%;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-tablet@2x.jpg);
  }
}

/*DESCTOP*/
@media only screen and (min-width: 1280px) {
  .hero-section {
    max-width: 1280px;
    height: 100%;
    padding: 235px 140px 215px 140px;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-desktop@1x.jpg);
  }

  .hero-title {
    width: 1001px;
    font-size: 80px;
  }

  .hero-text {
    max-width: none;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.4;
  }

  .hero-button {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-section {
    width: 100%;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-desktop@2x.jpg);
  }
}

/*DESCTOP2*/
@media only screen and (min-width: 1440px) {
  .hero-section {
    max-width: 1440px;
    height: 100%;
    padding: 235px 220px 232px 220px;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-desktop2@1x.jpg);
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title {
    font-size: 80px;
  }

  .hero-text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.4;
  }

  .hero-button {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero-section {
    width: 100%;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-desktop2@2x.jpg);
  }
}
