/*MOBILE*/

.hero-section {
  max-width: 375px;
  height: 100%;
  padding: 0 20px 302px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      360deg,
      #11131f 15.05%,
      rgba(17, 19, 31, 0.39) 75.3%,
      rgba(17, 19, 31, 0) 98.27%
    ),
    url(/img/hero-bg-mobile@1x.jpg);
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
}

.hero-title {
}

.hero-text {
}

.hero-button {
}

@media screen and (min-width: 320px) and (max-width: 374.98px) {
  .hero-section {
    width: 100%;

    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-mobile@1x.jpg);
  }
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .hero-section {
    width: 100%;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-mobile@2x.jpg);
  }
}

/*TABLET*/
@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-tablet@1x.jpg);
    margin-left: auto;
    margin-right: auto;
  }
}
/*DESCTOP*/
@media only screen and (min-width: 1280px) {
  .hero-section {
    max-width: 1280px;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-desktop@1x.jpg);
    margin-left: auto;
    margin-right: auto;
  }
}
/*DESCTOP2*/
@media only screen and (min-width: 1440px) {
  .hero-section {
    max-width: 1440px;
    background-image: linear-gradient(
        360deg,
        #11131f 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/hero-bg-desktop2@1x.jpg);
    margin-left: auto;
    margin-right: auto;
  }
}
