.yachts {}

.container {}

.yachts-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 40px;
}

.yachts-list {
    background-color: #fbfbfb;
    border-radius: 24px;
    margin-bottom: 40px;
}

.yachts-list-item {}

.yachts-item-img {
    padding: 16px 16px 32px 16px;
    border-radius: 24px;
}

.yachts-item-arrow {
    padding: 0 32px;
    position: relative;
}

.yachts-arrow-list{
    display: flex;    
    align-items: center;
    justify-content: center;
}

.item-arrow {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
    flex-grow: 1;
}

.item-arrow-yachts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
}

.yachts-item-arrow::after {
    content: "";
    position: absolute;
    width: 272px;
    height: 1px;
    background-color: rgba(4, 3, 6, 0.1);;
    transform: translateY(16px);    
}

.yachts-item-arrow li {
    display: inline-block;
}

.yachts-item-text {
    display: flex;
    padding: 32px;
}

.yachts-item-spec {
    width: 62px;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
    flex-grow: 1;
}

.yachts-item-value {
    width: 94px;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
}

.item-spec-text {
    margin-bottom: 6px;
}

.yachts-btn {
    margin-bottom: 80px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    border-radius: 15px;
    padding: 14px 32px;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}