.rent {
  margin: 80px 0;
}

.rent__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rent__picture {
  border-radius: 15px;
}

.rent__title {
  /* font-family: 'Inter', sans-serif; */
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  margin-bottom: 40px;
}

.rent__form {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.rent__input {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  max-width: 335px;
  height: 42px;
  background-color: transparent;

  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}

.rent__input:focus-within {
  border-color: rgba(251, 251, 251, 0.5);
}

.rent__input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  color: rgba(251, 251, 251, 0.4);
}

.rent__textarea {
  width: 100%;
  height: 108px;
  resize: vertical;

  margin-bottom: 40px;
}

.rent__button {
  border-radius: 15px;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  background: #1b414b;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  border: none;
  margin-bottom: 80px;
}

.rent__button:hover,
.rent__button:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .rent__wrapper {
    width: 473px;
  }

  .rent__title {
    font-size: 48px;
  }

  .rent__input {
    max-width: 100%;
    height: 54px;
  }

  .rent__input::placeholder {
    font-size: 14px;
  }

  .rent__textarea {
    height: 116px;

    margin-bottom: 50px;
  }

  .rent__button {
    padding: 18px 75px;
    width: 194px;
    height: 56px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .rent__container {
    flex-direction: row-reverse;
    gap: 50px;
  }

  .rent__button {
    margin-bottom: 0px;
  }
}
